<div class="clearfix"></div>

<section class="mt-5">
	<form method="post" action="{{#if todoItem._id}}{{todoItem._id}}/update{{else}}create{{/if}}">
		{{#if todoItem._id}}
			<h2 class="task-id">Task #{{todoItem._id}}</h2>
			<input type="hidden" name="_id" value="{{todoItem._id}}">
		{{/if}}
		
		{{#if todoItem.errors}}
			<h2 class="task-id">Error!</h2>
			<ul>
				{{#each todoItem.errors}}
					<li>{{this}}</li>
				{{/each}}
			</ul>
		{{/if}}

		<div class="form-group">
			<label>Task Number (Max 200)</label>
			<input type="number" class="form-control" name="number" min="1" max="200" value="{{todoItem.number}}" required>
		</div>

		<div class="form-group">
			<label>Task Description</label>
			<input type="text" class="form-control" name="description" value="{{todoItem.description}}" required>
		</div>

		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input" value="1" name="done"{{#if todoItem.done}} checked{{/if}}>
				Done
			</label>
		</div>

		<div class="clearfix mt-5"></div>
		<a href="./" class="btn btn-secondary">Cancel</a>
		<button type="submit" class="btn btn-primary">Submit</button>

		{{#if todoItem._id}}
			<a href="{{todoItem._id}}/delete" class="btn btn-danger pull-right" onclick="if(!confirm('Really want delete this task?')) return false;">Delete</a>
		{{/if}}
	</form>

</section>
